.link {
    text-decoration: none;
}

.page {
    padding: 40px 40px;
}

.categoriesCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.byCategoriesContainer > h2 {
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    color: #424436;
    margin: 40px 0px;
    padding: 0px;
}

.sortContainer {
    display: flex;  
    gap: 40px; 
    margin-bottom: 40px; 
}

.navigation{
    display: flex;
}

.linkPage {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #8B8B8B;
}

.line {
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    border: 1px solid #DDDDDD;
}

.categoriesProductsName {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #424436;
}

.priceContainer {
    display: flex;
    align-items: center;
}

.priceTitle {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #424436;
}

.formInput {
    width: 112px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #8B8B8B;
    margin-left: 16px;
}

.form > input:nth-child(3) {
    display: none;
}

.checkboxContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.checkboxContainer > input[type="checkbox"] {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
}

.checkboxContainer > span {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #424436;
}

.sortedConteiner {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sorted {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #424436;
}

.byDefault {
    width: 200px;
    height: 36px;
    padding: 0px 8px 0px 16px;
    gap: 8px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #424436;
}