.category_card{
    width:248px;
    height: 392px;
    gap: 16px;
}

.category_card img {
    width: 248px;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}

.category_card p {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding-top: 16px;
    color: #282828;

}
   