.order_form {
    display: flex;
    width:548px;
    height:582px;
    padding: 32px 0px 0px 0px;
    border-radius: 12px; 
    margin-top: 20px;
    background: #F2F6D3;
    flex-direction: column;
    margin-left: 15px;
}

.order_form > span {
    width: 430px;
    height: 44px;
    gap: 24px;
    opacity: 0px;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #424436;
    padding-left: 32px;
}

.total_price {  
    width: 250px;
    height: 70px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    color: #424436;
    position: absolute;
    bottom: 31%;
    right: 6%;
}

.inputs {  
    align-items: center;
    justify-content: space-between;
    width: 484px;
    height: 58px;
    padding: 16px 32px 16px 32px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 6px;
    margin: 32px;
    margin-bottom: 420px;
}

.inputs > input {
    width: 484px;
    height: 58px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    opacity: 0px;
    border-radius: 6px;
    justify-content: space-between;
    opacity: 0px;
    font-family: 'Montserrat';
    border: 1px solid #DDDDDD;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.inputs > button {
    background: #92A134;
    width: 484px;
    height: 58px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    opacity: 0px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.line {
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 0px;
    border: 1px 0px 0px 0px; 
    margin-top: 28px;
}

.title {
    margin-top: 40px;
    width: 477px;
    height: 70px;
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    color: #424436;
    margin: 32px;
}

.position p {
    border: 1px solid #DDDDDD;
    width: 170px;
    height: 36px;
    gap: 10px;
    border-radius: 12px;
    color: #8B8B8B; 
    text-align: center;
    padding-top: 7px;
    position: absolute;
    left: 88%;
    top: 20.5%;
    margin: 32px;

}

.dash {
    border: 1px solid #DDDDDD;
    width: 681px;
    height: 0px;
    border: 1px 0px 0px 0px; 
    position: absolute;
    left: 604px;
    top: 27%;
}

.text{
    width: 548px;
    height: 26px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #424436;
    margin-top: 40px;
    margin-left: 20px;
}

.btn{
    margin-top: 32px;
    width: 313px;
    height: 58px;
    padding: 16px 56px 16px 56px;
    gap: 10px;
    border-radius: 12px;
    margin-left: 20px;
    border-radius: 12px;
    background-color: #92A134;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-wrap: nowrap;
    margin-bottom: 80px;
    cursor: pointer;
}

.block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.totalText {
   padding-left: 32px;
   padding-top:24px;
}

.totalText p:nth-child(1){
    width: 148px;
    height: 52px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    text-align: left;
    text-wrap: nowrap;
    color: #8B8B8B;
    position: relative; 
}

.totalText p:nth-child(2){
    width: 99px;
    height: 52px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    text-align: left;
    text-wrap: nowrap;
    color: #8B8B8B;
}